@model ReceivingReportViewModel

@{
    ViewData["Title"] = "Receiving Report - Create";
}
<div class="loader-container">
    <div class="loader"></div>
    <div class="loader-text">Loading...</div>
</div>
<div class="card shadow border-0 mt-4">
    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">@ViewData["Title"]</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <div class="position-absolute p-2" style="left:40%; width:45%; border:dotted 1px; max-height: 500px; overflow-y: auto;">
            <pre style="white-space: pre-wrap;">
            <b>PO Liquidations</b>

   PO No: <span id="poNo" class="fw-bold"></span> - Quantity: <span id="poQuantity" class="fw-bold"></span>

   Posted RR:
            <ul id="rrListPostedOnly" style="margin: 0;"></ul>
=====================================================================
   Remaining Quantity (Only posted RR):  <span id="remainingQuantityPostedOnly"></span>
=====================================================================

   Unposted RR:
            <ul id="rrListCanceled" style="margin: 0;"></ul>
            <ul id="rrListNotPosted" style="margin: 0;"></ul>
=====================================================================
   Remaining Quantity (Including posted and unposted RR):  <span id="remainingQuantity"></span>
=====================================================================
           </pre>
        </div>
        <form asp-action="Create">
            @Html.AntiForgeryToken()
            <div class="row">
                <div class="col-md-4">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group mb-3">
                        <label asp-for="Date" class="control-label"></label><span class="required">*</span>
                        <input asp-for="Date" type="date" class="form-control" value="@DateTimeHelper.GetCurrentPhilippineTime().ToString("yyyy-MM-dd")"/>
                        <span asp-validation-for="Date" class="text-danger"></span>
                    </div>
                    <div class="form-group mb-3">
                        <label asp-for="PurchaseOrderId" class="control-label">Suppliers PO No.</label><span class="required">*</span>
                        <select asp-for="PurchaseOrderId" class="form-control js-select2" asp-items="@Model.PurchaseOrders" style="width:100%">
                            <option></option>
                        </select>
                        <span asp-validation-for="PurchaseOrderId" class="text-danger"></span>
                    </div>
                    <div class="form-floating mb-3">
                        <input asp-for="ReceivedDate" type="date" class="form-control" placeholder=""/>
                        <label asp-for="ReceivedDate" class="control-label">Received Date</label>
                        <span asp-validation-for="ReceivedDate" class="text-danger"></span>
                    </div>
                    <fieldset class="border p-2 py-2 mb-3">
                        <legend class="w-auto px-2">Supplier Details</legend>
                        <div class="form-floating py-2 col-12">
                            <input asp-for="SupplierInvoiceNumber" class="form-control border-0 shadow" placeholder=""/>
                            <label asp-for="SupplierInvoiceNumber">SI#</label>
                            <span asp-validation-for="SupplierInvoiceNumber" class="text-danger"></span>
                        </div>
                        <div class="form-floating py-2 col-12">
                            <input asp-for="SupplierInvoiceDate" type="date" class="form-control border-0 shadow" placeholder=""/>
                            <label asp-for="SupplierInvoiceDate">SI Date</label>
                            <span asp-validation-for="SupplierInvoiceDate" class="text-danger"></span>
                        </div>
                        <div class="form-floating py-2 col-12">
                            <input asp-for="SupplierDrNo" class="form-control border-0 shadow" placeholder=""/>
                            <label asp-for="SupplierDrNo">DR#</label>
                            <span asp-validation-for="SupplierDrNo" class="text-danger"></span>
                        </div>
                    </fieldset>
                    <div class="form-floating mb-3">
                        <input asp-for="WithdrawalCertificate" class="form-control" placeholder=""/>
                        <label asp-for="WithdrawalCertificate" class="control-label ms-2">WC#</label>
                        <span asp-validation-for="WithdrawalCertificate" class="text-danger"></span>
                    </div>
                    <div class="form-floating mb-3">
                        <input asp-for="TruckOrVessels" class="form-control" placeholder=""/>
                        <label asp-for="TruckOrVessels" class="control-label ms-2">Truck/Vessels<span class="required">*</span></label>
                        <span asp-validation-for="TruckOrVessels" class="text-danger"></span>
                    </div>
                    <div class="form-floating mb-3">
                        <input asp-for="QuantityDelivered" class="form-control" placeholder=""/>
                        <label asp-for="QuantityDelivered" class="control-label ms-2">Qty Delivered<span class="required">*</span></label>
                        <span asp-validation-for="QuantityDelivered" class="text-danger"></span>
                    </div>
                    <div class="form-floating mb-3">
                        <input asp-for="QuantityReceived" class="form-control" placeholder=""/>
                        <label asp-for="QuantityReceived" class="control-label ms-2">Qty Received<span class="required">*</span></label>
                        <span asp-validation-for="QuantityReceived" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="AuthorityToLoadNo" class="form-control" placeholder=""/>
                    <label asp-for="AuthorityToLoadNo" class="control-label ms-2"></label>
                    <span asp-validation-for="AuthorityToLoadNo" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3 py-2">
                    <textarea asp-for="Remarks" class="form-control" placeholder="" style="height: 100px"></textarea>
                    <label asp-for="Remarks" class="control-label ms-2">Remarks<span class="required">*</span></label>
                    <span asp-validation-for="Remarks" class="text-danger"></span>
                </div>

                <div class="row pt-2">
                    <div class="col-6 col-md-3">
                        <button type="submit" class="btn btn-primary form-control">Create</button>
                    </div>
                    <div class="col-6 col-md-3">
                        <a asp-area="Mobility" asp-controller="ReceivingReport" asp-action="Index" class="btn btn-outline-primary border  form-control ">Back to List</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        document.getElementById('Date').value = new Date().toISOString().substring(0, 10);
    </script>
    <script>
        // Function to handle invoice change event
        function handlePoChange() {
            var id = $("#PurchaseOrderId").val();
            if (id != "") {
                $.ajax({
                    url: '@Url.Action("GetLiquidations", "ReceivingReport", new { area = "Mobility" })',
                    type: "GET",
                    data: { id: id },
                    success: function (data) {
                        // Update PO No and Quantity
                        document.getElementById("poNo").innerHTML = data.poNo;
                        document.getElementById("poQuantity").innerHTML = data.poQuantity;

                        // Calculate and update Remaining Quantity
                        var totalReceived = 0;
                        for (var i = 0; i < data.rrList.length; i++) {
                            totalReceived += data.rrList[i].quantityReceived;
                        }
                        var totalReceivedPostedOnly = 0;
                        for (var i = 0; i < data.rrListPostedOnly.length; i++) {
                            totalReceivedPostedOnly += data.rrListPostedOnly[i].quantityReceived;
                        }

                        var remainingQuantityPostedOnly = parseNumber(data.poQuantity) - totalReceivedPostedOnly;
                        var remainingQuantity = parseNumber(data.poQuantity) - totalReceived;

                        // Format the remaining quantity with thousand's comma
                        var formattedRemainingQuantityPostedOnly = formatNumber(remainingQuantityPostedOnly);
                        var formattedRemainingQuantity = formatNumber(remainingQuantity);

                        // Display the formatted remaining quantity
                        document.getElementById("remainingQuantityPostedOnly").innerHTML = formattedRemainingQuantityPostedOnly + "L";
                        document.getElementById("remainingQuantity").innerHTML = formattedRemainingQuantity + "L";

                        var rrListPostedOnly = data.rrListPostedOnly;
                        var rrListPostedOnlyUl = document.getElementById("rrListPostedOnly");
                        rrListPostedOnlyUl.innerHTML = ""; // Clear previous list items

                        var rrListNotPosted = data.rrListNotPosted;
                        var rrListNotPostedUl = document.getElementById("rrListNotPosted");
                        rrListNotPostedUl.innerHTML = ""; // Clear previous list items

                        var rrListCanceled = data.rrListCanceled;
                        var rrListCanceledUl = document.getElementById("rrListCanceled");
                        rrListCanceledUl.innerHTML = ""; // Clear previous list items

                        for (var i = 0; i < rrListPostedOnly.length; i++) {
                            var rrPostedOnly = rrListPostedOnly[i];
                            var list = document.createElement("li");
                            list.textContent = rrPostedOnly.quantityReceived < rrPostedOnly.quantityDelivered ? "RR No: " + rrPostedOnly.receivingReportNo + " - Quantity: -" + formatNumber(rrPostedOnly.quantityReceived) : "RR No: " + rrPostedOnly.receivingReportNo + " - Quantity: -" + formatNumber(rrPostedOnly.quantityDelivered);
                            rrListPostedOnlyUl.appendChild(list);
                        }

                        for (var i = 0; i < rrListNotPosted.length; i++) {
                            var rrNotPosted = rrListNotPosted[i];
                            var li = document.createElement("li");
                            li.textContent = rrNotPosted.quantityReceived < rrNotPosted.quantityDelivered ? "RR No: " + rrNotPosted.receivingReportNo + " - Quantity: -" + formatNumber(rrNotPosted.quantityReceived) : "RR No: " + rrNotPosted.receivingReportNo + " - Quantity: -" + formatNumber(rrNotPosted.quantityDelivered);
                            rrListNotPostedUl.appendChild(li);
                        }

                        for (var i = 0; i < rrListCanceled.length; i++) {
                            var rrCanceled = rrListCanceled[i];
                            var listed = document.createElement("li");
                            listed.textContent = rrCanceled.quantityReceived < rrCanceled.quantityDelivered ? "RR No: " + rrCanceled.receivingReportNo + " - Quantity: -" + formatNumber(rrCanceled.canceledQuantity) + " (Cancelled)" : "RR No: " + rrCanceled.receivingReportNo + " - Quantity: -" + formatNumber(rrCanceled.canceledQuantity) + " (Cancelled)";
                            rrListCanceledUl.appendChild(listed);
                        }
                    }
                });
            }
        }

        $(document).ready(function () {
            // Call the handleInvoiceChange function on page load
            handlePoChange();

            // Attach event listener to invoice dropdown
            $("#PurchaseOrderId").change(function () {
                // Call the handleInvoiceChange function when the dropdown changes
                handlePoChange();
            });
        });

    </script>
}