@model ServiceRequestViewModel

@{
    ViewData["Title"] = "Dispatch Ticket - Edit";
    var filterType = ViewBag.FilterType as string;
}

<link rel="stylesheet" href="~/css/form-style.css">

<div class="card shadow mt-4">

    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
        <div class="col-12 text-center">
            <h2 class="text-white py-2">@ViewData["Title"]</h2>
        </div>
    </div>
    
    <div class="card-body">
        
        <form method="post" class="row" enctype="multipart/form-data">
            <input asp-for="DispatchTicketId" value="@Model.DispatchTicketId" type="text" class="form-control border-0 shadow" id="DispatchTicketId" style="display:none">
            <div class="border-2 px-3">
                <div asp-validation-summary="ModelOnly"></div>

                <div class="row">
                    <div class="form-floating col-6 my-2">
                        <input asp-for="Date" type="date" value="@(Model.Date == null ? null : Model.Date!.Value.ToString("yyyy-MM-dd"))" class="form-control border-0 shadow" id="CreateDate" placeholder=" ">
                        <label asp-for="Date" for="CreateDate" class="ms-2">Date Today<span class="required text-danger">*</span></label>
                        <span asp-validation-for="Date" class="text-danger"></span>
                    </div>
                    <div class="form-floating col-6 my-2">
                        <input asp-for="COSNumber" type="text" class="form-control border-0 shadow" id="COSNumber" placeholder="" maxlength="10" title="COS Number must not exceed 10 characters">
                        <label asp-for="COSNumber" for="COSNumber" class="ms-2">COS#(Optional)</label>
                        <span asp-validation-for="COSNumber" class="text-danger"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="form-floating col-6 my-2">
                        <input asp-for="DispatchNumber" type="text" class="form-control border-0 shadow" id="DispatchNumber" placeholder=" " maxlength="20" title="Dispatch Number must not exceed 20 characters" required>
                        <label asp-for="DispatchNumber" for="DispatchNumber" class="ms-2">Dispatch/Mooring #<span class="required text-danger">*</span></label>
                        <span asp-validation-for="DispatchNumber" class="text-danger"></span>
                    </div>
                    <div class="form-floating col-6 my-2">
                        <input asp-for="VoyageNumber" type="text" class="form-control border-0 shadow" id="VoyageNumber" placeholder=" " maxlength="20">
                        <label asp-for="VoyageNumber" for="VoyageNumber" class="ms-2">Voyage#(Optional)</label>
                        <span asp-validation-for="VoyageNumber" class="text-danger"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-12 my-2">
                        <label class="control-label ps-1 pb-1">Customer<span class="required text-danger">*</span></label>
                        <select id="CustomerId" asp-for="CustomerId" asp-items="@Model.Customers" class="port-select form-select js-select2 border-0 shadow ms-5 mt-4" style="width:100%" required>
                            <option value="">Select Customer</option>
                        </select>
                        <span class="text-danger"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="form-floating col-6 my-2">
                        <input type="date" asp-for="DateLeft" value="@(Model.DateLeft == null ? null : Model.DateLeft.Value.ToString("yyyy-MM-dd"))" class="form-control border-0 shadow" id="DateLeft" placeholder=" " required>
                        <label asp-for="DateLeft" for="DateLeft" class="ms-2">Date Start<span class="required text-danger">*</span></label>
                        <span asp-validation-for="DateLeft" class="text-danger"></span>
                    </div>
                    <div class="form-floating col-6 my-2">
                        <input type="time" asp-for="TimeLeft" value="@(Model.TimeLeft == null ? null : Model.TimeLeft.Value.ToString("HH\\:mm"))" class="form-control border-0 shadow" id="TimeLeft" placeholder=" " required>
                        <label asp-for="TimeLeft" for="TimeLeft" class="ms-2">Time Start<span class="required text-danger">*</span></label>
                        <span asp-validation-for="TimeLeft" class="text-danger"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="form-floating col-6 my-2">
                        <input type="date" asp-for="DateArrived" value="@(Model.DateArrived == null ? null : Model.DateArrived.Value.ToString("yyyy-MM-dd"))" class="form-control border-0 shadow" id="DateArrived" placeholder=" " required>
                        <label asp-for="DateArrived" for="DateArrived" class="ms-2">Date End<span class="required text-danger">*</span></label>
                        <span asp-validation-for="DateArrived" class="text-danger"></span>
                    </div>
                    <div class="form-floating col-6 my-2">
                        <input type="time" asp-for="TimeArrived" value="@(Model.TimeArrived == null ? null : Model.TimeArrived.Value.ToString("HH\\:mm"))" class="form-control border-0 shadow" id="TimeArrived" placeholder=" " required>
                        <label asp-for="TimeArrived" for="TimeArrived" class="ms-2">Time End<span class="required text-danger">*</span></label>
                        <span asp-validation-for="TimeArrived" class="text-danger"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-6 my-2">
                        <label class="control-label ps-1 pb-1">Port<span class="required text-danger">*</span></label>
                        <select asp-for="@Model.Terminal!.Port!.PortId" id="PortSelect" asp-items="@Model.Ports" class="port-select form-select js-select2 border-0 shadow ms-5 mt-4" style="width:100%" required>
                            <option value="">Select Port</option>
                        </select>
                        <span class="text-danger"></span>
                    </div>
                    <div class="form-group col-6 my-2">
                        <label class="control-label ps-1 pb-1">Terminal<span class="required text-danger">*</span></label>
                        <select id="TerminalSelect" asp-items="@Model.Terminals" asp-for="TerminalId" class="form-select js-select2 border-0 shadow ms-5 mt-4" style="width:100%" required>
                            <option value="">Select Terminal</option>
                        </select>
                        <span asp-validation-for="TerminalId" class="text-danger"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-6 my-2">
                        <label class="control-label ps-1 pb-1">Activity/Service Type<span class="required text-danger">*</span></label>
                        <select asp-for="ServiceId" asp-items="@Model.Services" class="form-select js-select2 border-0 shadow ms-5 mt-4" style="width:100%" required>
                            <option value="">Select Activity Service</option>
                        </select>
                        <span asp-validation-for="ServiceId" class="text-danger"></span>
                    </div>
                    <div class="form-group col-6 my-2">
                        <label class="control-label ps-1 pb-1">Tugboat/Service provider<span class="required text-danger">*</span></label>
                        <select asp-for="TugBoatId" asp-items="@Model.Tugboats" class="form-select js-select2 border-0 shadow ms-5 mt-4" style="width:100%" required>
                            <option value="">Select Tugboat</option>
                        </select>
                        <span asp-validation-for="TugBoatId" class="text-danger"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-6 my-2">
                        <label class="control-label pb-1">Master on Duty<span class="required text-danger">*</span></label>
                        <select asp-for="TugMasterId" asp-items="@Model.TugMasters" class="form-select js-select2 border-0 shadow ms-5 mt-4" style="width:100%" required>
                            <option value="">Select Tug Master</option>
                        </select>
                        <span asp-validation-for="TugMasterId" class="text-danger"></span>
                    </div>
                    <div class="form-group col-6 my-2">
                        <label class="control-label ps-1 pb-1">Vessel<span class="required text-danger">*</span></label>
                        <select asp-for="VesselId" asp-items="@Model.Vessels" class="form-select js-select2 border-0 shadow ms-5 mt-4" style="width:100%" required>
                            <option value="">Select Vessel</option>
                        </select>
                        <span asp-validation-for="VesselId" class="text-danger"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="form-floating col-12 my-2">
                        <input asp-for="Remarks" value="@Model.Remarks" type="text" class="form-control border-0 shadow" id="Remarks" placeholder=" ">
                        <label asp-for="Remarks" for="Remarks" class="ms-2">Remarks(Optional)</label>
                        <span asp-validation-for="Remarks" class="text-danger"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-6 my-2">
                        <label for="imageUpload" class="form-label">Upload image of Dispatch Ticket</label>
                        <input class="form-control form-control-sm" id="imageUpload" name="imageFile" type='file' accept="image/png, image/jpg, image/jpeg"/>
                    </div>
                    <div class="form-group col-6 my-2">
                        <label for="videoUpload" class="form-label">Upload video of Service Operation</label>
                        <input class="form-control form-control-sm" id="videoUpload" name="videoFile" type='file' accept="video/mp4, video/ogg" />
                    </div>
                </div>
            </div>
            <div class="row col-12 justify-content-end my-2">
                @if (!string.IsNullOrEmpty(Model.ImageName))
                {
                    <div class="text-center" style="width: 200px">
                        <button class="btn btn-primary custom-btn col-12 align-content-center my-1" type="button" id="viewImage"><i class="bi bi-eye"></i> View Image</button>
                    </div>
                    <div class="text-center" style="width: 200px">
                        <a class="btn btn-outline-primary col-12 align-content-center selected-options my-1" type="button" id="deleteImage" data-image-id="@Model.DispatchTicketId">
                            <i class="bi bi-trash-fill"></i> Delete Image
                        </a>
                    </div>
                }
                @if (!string.IsNullOrEmpty(Model.VideoName))
                {
                    <div class="text-center" style="width: 200px">
                        <button class="btn btn-primary custom-btn col-12 align-content-center my-1 view-video" data-videolink="@Model.VideoSignedUrl" type="button"><i class="bi bi-eye"></i> Play Video</button>
                    </div>
                    <div class="text-center" style="width: 200px">
                        <a class="btn btn-outline-primary col-12 align-content-center selected-options my-1" type="button" id="deleteVideo" data-video-id="@Model.DispatchTicketId">
                            <i class="bi bi-trash-fill"></i> Delete Video
                        </a>
                    </div>
                }
                <div class="text-center" style="width: 150px">
                    <button class="btn btn-primary custom-btn col-12 align-content-center selected-options" type="submit" id="submitButton"><i class="bi bi-pencil-square"></i> Save</button>
                </div>
                <div class="text-center" style="width: 150px">
                    <a class="btn btn-outline-primary col-12 align-content-center selected-options" type="button" asp-controller="DispatchTicket" asp-action="Index" asp-area="MMSI" asp-route-filterType="@filterType">
                        <i class="bi bi-arrow-90deg-left"></i> Go Back
                    </a>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            document.getElementById('viewImage')?.addEventListener('click', function () {
                let maxHeight = window.innerHeight * 0.8;

                Swal.fire({
                    imageUrl: '@Html.Raw(Model.ImageSignedUrl)',
                    imageAlt: "Custom image",
                    showConfirmButton: false,
                    background: 'transparent',
                    customClass: {
                        popup: 'custom-image-popup' // Unique class for this modal
                    },
                    padding: 0,
                    width: 'auto',
                    heightAuto: true,
                    didOpen: () => {
                        let swal2ImageVar = $('.swal2-image');
                        swal2ImageVar.css('max-height', maxHeight + 'px');
                        swal2ImageVar.css('height', 'auto');
                    }
                });
            });
        });
    </script>

    <script>
        let currentPort = "";
        const select = document.getElementById("TerminalSelect");

        $(document).ready(function () {

            // function for terminal choices change when port is selected
            let portSelectVar = $("#PortSelect");
            function HandlePortChange() {
                let portId = portSelectVar.val();

                $.ajax({
                    url: '@Url.Action("ChangeTerminal", "ServiceRequest")',
                    type: "GET",
                    data: { portId: portId },
                    success: function (data) {
                        let terminalSelectVar = $("#TerminalSelect");
                        terminalSelectVar.empty();
                        if (Array.isArray(data) && data.length > 0) {
                            terminalSelectVar.append('<option>');
                            $.each(data, function (index, item) {
                                terminalSelectVar.append($('<option>', {
                                    value: item.value,
                                    text: item.text
                                }));
                            });
                        }
                    }
                });

            }

            // swal asking if sure to delete image
            document.getElementById('deleteImage')?.addEventListener('click', function () {
                let imageId = this.getAttribute('data-image-id');

                Swal.fire({
                    title: "Do you want to delete the image?",
                    showCancelButton: true,
                    confirmButtonText: "Yes",
                }).then((result) => {
                    if (result.isConfirmed) {
                        window.location.href = `/MMSI/ServiceRequest/DeleteImage/${imageId}`;
                    }
                });

            });

            // swal asking if sure to delete image
            document.getElementById('deleteVideo')?.addEventListener('click', function () {
                let videoId = this.getAttribute('data-video-id');

                Swal.fire({
                    title: "Do you want to delete the video?",
                    showCancelButton: true,
                    confirmButtonText: "Yes",
                }).then((result) => {
                    if (result.isConfirmed) {
                        window.location.href = `/MMSI/ServiceRequest/DeleteVideo/${videoId}`;
                    }
                });

            });

            // will ask if you want to replace existing image
            document.getElementById('submitButton')?.addEventListener('click', function (event) {

                event.preventDefault();
                let existingImageName = '@Model.ImageName';
                let existingVideoName = '@Model.VideoName';
                let newImage = document.getElementById('imageUpload').files.length > 0;
                let newVideo = document.getElementById('videoUpload').files.length > 0;
                let form = document.getElementById('submitButton').form;

                function trySubmit() {
                    // Check if the form is valid using HTML5 validation
                    if (form.checkValidity()) {
                        form.submit(); // Submit if valid
                    } else {
                        // Trigger validation UI (show error messages)
                        form.reportValidity();
                    }
                }

                if ((existingImageName && existingImageName !== "" && newImage) || (existingVideoName && existingVideoName !== "" && newVideo)) {
                    Swal.fire({
                        title: "Do you want to replace existing file(s)?",
                        text: "Current file(s) will be replaced with new one(s).",
                        showCancelButton: true,
                        confirmButtonText: "Confirm",
                        cancelButtonText: "Cancel"
                    }).then((result) => {
                        if (result.isConfirmed) {
                            trySubmit();
                        }
                    });
                }
                else {
                    trySubmit();
                }
            });

            // if port changes, proc terminal choice change function
            portSelectVar.change(HandlePortChange);

            $(document).on("click", ".view-video", function () {
                const videoLink = this.getAttribute("data-videolink");
                if (!videoLink) {
                    console.error("No video found.");
                    return;
                }

                const maxHeight = window.innerHeight * 0.8;
                Swal.fire({
                    html: `
                            <video width="1280" height="720" controls>
                                <source src="${videoLink}" type="video/mp4">
                                Your browser does not support the video tag.
                            </video>
                            `,
                    showConfirmButton: false,
                    padding: 0,
                    width: "auto",
                    heightAuto: true,
                    background: "transparent",
                    didOpen: () => {
                        $(".swal2-image").css({
                            "max-height": `${maxHeight}px`,
                            "height": "auto"
                        });
                    }
                });
            });

        });
    </script>
}