@using IBS.Utility.Constants
@model IEnumerable<GeneralLedgerView>

@{
    ViewData["Title"] = $"General Ledger By {ViewData["Journal"]} Journal";
}

<style>
    .container {
        max-width: none;
    }

    .table-responsive {
        overflow-y: auto;
        max-height: 70vh;
    }

    table thead th {
        position: sticky;
        top: 0;
        z-index: 10;
        background: white;
    }

    @@media print {
        body * {
            visibility: hidden;
        }

        .table-responsive, .table-responsive * {
            visibility: visible;
        }

        .table-responsive {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: auto;
            overflow: visible;
        }
    }
</style>

<div class="mb-3 row">
    <div class="col-11">
    </div>
    <div class="dropdown col-1">
        <button class="btn btn-primary dropdown-toggle" type="button" id="sortDropdown" data-bs-toggle="dropdown" aria-expanded="false">
            Sort By <i class="bi bi-funnel-fill"></i>
        </button>
        <ul class="dropdown-menu" aria-labelledby="sortDropdown">
            <li><button type="button" class="dropdown-item" data-sortby="transactionDate">Date<span class="selected-sort">&#10003;</span></button></li>
            <li><button type="button" class="dropdown-item" data-sortby="accountNumber">Account No<span class="selected-sort" style="display:none;">&#10003;</span></button></li>
            <li><button type="button" class="dropdown-item" data-sortby="accountTitle">Account Title<span class="selected-sort" style="display:none;">&#10003;</span></button></li>
        </ul>
    </div>
</div>

@if (Model.Any())
{
    <div class="table-responsive">
        <h4>GENERAL LEDGER BY @ViewData["Journal"] JOURNAL</h4>
        <table id="ledgerTable" class="table">
            <thead>
                <tr class="table-primary">
                    <th>Transaction Date</th>
                    <th>Particular</th>
                    <th>Account Number</th>
                    <th>Account Title</th>
                    <th class="text-center">Debit</th>
                    <th class="text-center">Credit</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var journal in Model)
                {
                    <tr>
                        <td>@Html.DisplayFor(model => journal.TransactionDate)</td>
                        <td>@journal.Particular</td>
                        <td>@journal.AccountNumber</td>
                        <td>@journal.AccountTitle</td>
                        <td class="text-end">@Html.DisplayFor(model => journal.Debit)</td>
                        <td class="text-end">@Html.DisplayFor(model => journal.Credit)</td>
                    </tr>
                }
                <tr class="table-primary">
                    <td colspan="4" class="text-center">TOTAL</td>
                    <td class="text-end">@Model.Sum(j => j.Debit).ToString(SD.Four_Decimal_Format)</td>
                    <td class="text-end">@Model.Sum(j => j.Credit).ToString(SD.Four_Decimal_Format)</td>
                </tr>
            </tbody>
        </table>
    </div>
}
else
{
    <p><i>No data available in report.</i></p>
}

<div class="row mt-5">
    <div class="col-6 col-md-3">
        <a onclick="printTable()" class="btn btn-primary form-control buttons">Print</a>
    </div>
    <div class="col-6 col-md-3">
        <a asp-area="Mobility" asp-controller="GeneralLedger" asp-action="GetJournal" class="btn btn-outline-primary border form-control buttons">Back</a>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('.dropdown-item').click(function () {
                var sortBy = $(this).data('sortby');
                $('.dropdown-item').find('.selected-sort').hide();
                $(this).find('.selected-sort').show();
                var sortedModel = @Html.Raw(Json.Serialize(Model.OrderBy(j => j.TransactionDate)));
                sortedModel.sort(function (a, b) {
                    var propA = a[sortBy] || '';
                    var propB = b[sortBy] || '';
                    return propA.localeCompare(propB);
                });
                $('#ledgerTable tbody').empty();
                $.each(sortedModel, function (index, value) {
                    $('#ledgerTable tbody').append(`
                                <tr>
                                    <td>${value.transactionDate}</td>
                                    <td>${value.particular}</td>
                                    <td>${value.accountNumber}</td>
                                    <td>${value.accountTitle}</td>
                                    <td class="text-end">${value.debit.toFixed(4)}</td>
                                    <td class="text-end">${value.credit.toFixed(4)}</td>
                                </tr>
                            `);
                });
            });
        });

        function printTable() {
            window.print();
        }
    </script>
}
