@using IBS.Utility.Constants
@model MobilitySalesHeader

@{
    ViewData["Title"] = "Cashier Report - Edit";
    Model.SalesDetails = Model.SalesDetails
        .OrderBy(x => x.Product)
        .ThenBy(x => x.PumpNumber)
        .ToList();
}

<link rel="stylesheet" href="~/css/form-style.css">

<div class="card shadow border-0 mt-4">
    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">@ViewData["Title"]</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <form method="post" class="row">
            <input asp-for="SalesHeaderId" hidden />
            <div class="border p-3">
                <div asp-validation-summary="ModelOnly"></div>
                <div class="form-floating py-2 col-12">
                    <input asp-for="Date" type="date" class="form-control border-0 shadow" placeholder="" />
                    <label asp-for="Date" class="ms-2"></label>
                    <span asp-validation-for="Date" class="text-danger"></span>
                </div>
                <div class="form-floating py-2 col-12">
                    <input asp-for="Cashier" class="form-control border-0 shadow" placeholder="" readonly tabindex="-1" />
                    <label asp-for="Cashier" class="ms-2"></label>
                    <span asp-validation-for="Cashier" class="text-danger"></span>
                </div>
                <div class="form-floating py-2 col-12">
                    <input asp-for="Shift" class="form-control border-0 shadow" placeholder="" readonly tabindex="-1" />
                    <label asp-for="Shift" class="ms-2"></label>
                    <span asp-validation-for="Shift" class="text-danger"></span>
                </div>
                <div class="form-floating py-2 col-12">
                    <input asp-for="SafeDropTotalAmount" class="form-control border-0 shadow" placeholder="" readonly tabindex="-1" />
                    <label asp-for="SafeDropTotalAmount" class="ms-2">Cash On Hand</label>
                    <span asp-validation-for="SafeDropTotalAmount" class="text-danger"></span>
                </div>
                @for (int i = 0; i < Model.SalesDetails.Count; i++)
                {
                    var detail = Model.SalesDetails[i];
                    <div class="row py-2 m-2 border border-secondary-subtle p-2 border-opacity-50">
                        <input type="hidden" asp-for="@Model.SalesDetails[i].SalesDetailId" name="SalesDetails[@i].SalesDetailId" />
                        <div class="col-12">
                            <h6>@detail.Particular</h6>
                        </div>
                        <div class="col-md-3">
                            <div class="form-floating">
                                <input name="SalesDetails[@i].Closing" value="@detail.Closing.ToString(SD.Four_Decimal_Format)" class="form-control border-0 shadow" placeholder="" />
                                <label asp-for="SalesDetails[i].Closing">Closing</label>
                                <span asp-validation-for="SalesDetails[i].Closing" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-floating">
                                <input name="SalesDetails[@i].Opening" value="@detail.Opening.ToString(SD.Four_Decimal_Format)" class="form-control border-0 shadow" placeholder="" />
                                <label asp-for="SalesDetails[i].Opening">Opening</label>
                                <span asp-validation-for="SalesDetails[i].Opening" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-floating">
                                <input name="SalesDetails[@i].Calibration" value="@detail.Calibration.ToString(SD.Four_Decimal_Format)" class="form-control border-0 shadow" placeholder="" />
                                <label asp-for="SalesDetails[i].Calibration">Calibration</label>
                                <span asp-validation-for="SalesDetails[i].Calibration" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-floating">
                                <input name="SalesDetails[@i].Price" value="@detail.Price.ToString(SD.Four_Decimal_Format)" class="form-control border-0 shadow" placeholder="" />
                                <label asp-for="SalesDetails[i].Price">Price</label>
                                <span asp-validation-for="SalesDetails[i].Price" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                }

                <div class="form-floating py-2 col-12">
                    <input asp-for="ActualCashOnHand" class="form-control border-0 shadow" placeholder="" min="0" />
                    <label asp-for="ActualCashOnHand" class="ms-2">Actual Cash On Hand</label>
                    <span asp-validation-for="ActualCashOnHand" class="text-danger"></span>
                </div>
                <div class="form-floating py-2 col-12">
                    <textarea asp-for="Particular" class="form-control border-0 shadow" placeholder="Indicate the reason of this changes." style="height: 100px" required></textarea>
                    <label asp-for="Particular" class="control-label">Particular<span class="required">*</span></label>
                    <span asp-validation-for="Particular" class="text-danger"></span>
                </div>
                <div class="row pt-2">
                    <div class="col-6 col-md-3">
                        <button type="submit" class="btn btn-primary form-control">Update</button>
                    </div>
                    <div class="col-6 col-md-3">
                        <a asp-area="Mobility" asp-controller="CashierReport" asp-action="Index" class="btn btn-outline-primary border  form-control ">Back to List</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            var actualCashOnHandInput = document.getElementById("ActualCashOnHand");
            actualCashOnHandInput.value = parseNumber(actualCashOnHandInput.value);
        });
    </script>
}