@using IBS.Utility.Constants
@model MobilitySalesHeader

@{
    ViewData["Title"] = "Cashier Report - Preview";
}

<div class="mb-3 row">
    <div class="col-12 mb-3 text-center">
        <h2>CASHIER REPORT</h2>
        <h5>@ViewData["Station"]</h5>
    </div>
    <div class="col-10">
        <h6 class="px-2"><b>Cashier:</b> @Model.Cashier</h6>
        <h6 class="px-2"><b>Shift:</b> @Model.Shift</h6>
    </div>
    <div class="col-2 text-end">
        <h6 class="px-2"><b>No.</b> @Html.DisplayFor(model => Model.SalesNo)</h6>
        <h6 class="px-2"><b>Date:</b> @Html.DisplayFor(model => Model.Date)</h6>
    </div>
</div>

<div class="table-responsive">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th colspan="10" class="text-center">Fuels</th>
            </tr>
            <tr class="table-primary text-center">
                <th>Particular</th>
                <th>Closing</th>
                <th>Opening</th>
                <th>Liters</th>
                <th>Calibration</th>
                <th>Liters Sold</th>
                <th>Trans Count</th>
                <th>Price</th>
                <th>Sale</th>
                <th>Value</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var group in Model.SalesDetails.OrderBy(d => d.SalesDetailId).GroupBy(d => d.Product))
            {
                foreach (var item in group.OrderBy(g => g.Particular))
                {
                    <tr>
                        <td>@item.Particular</td>
                        <td class="text-end">@item.Closing.ToString(SD.Two_Decimal_Format)</td>
                        <td class="text-end">
                            @if (item.ReferenceNo != null && !Model.IsTransactionNormal)
                            {
                                <a asp-area="Mobility" asp-controller="CashierReport" asp-action="Preview" asp-route-id="@item.ReferenceNo" title="Click to view @item.ReferenceNo in new tab" style="color:red !important" target="_blank">
                                    @item.Opening.ToString(SD.Two_Decimal_Format)
                                </a>
                            }
                            else
                            {
                                @item.Opening.ToString(SD.Two_Decimal_Format)
                            }
                        </td>
                        <td class="text-end">@item.Liters.ToString(SD.Two_Decimal_Format)</td>
                        <td class="text-end">@item.Calibration.ToString(SD.Two_Decimal_Format)</td>
                        <td class="text-end">@item.LitersSold.ToString(SD.Two_Decimal_Format)</td>
                        <td class="text-end">@Html.DisplayFor(model => item.TransactionCount)</td>
                        <td class="text-end">
                            @if (item.PreviousPrice.HasValue && item.PreviousPrice != item.Price)
                            {
                                <span class="text-danger">
                                    @item.Price.ToString(SD.Four_Decimal_Format)
                                    <i class="bi bi-info-circle" data-bs-container="body" data-bs-toggle="popover" data-bs-placement="top" data-bs-content="Price corrected from @item.PreviousPrice.Value.ToString(SD.Four_Decimal_Format)"></i>
                                </span>
                            }
                            else
                            {
                                @item.Price.ToString(SD.Four_Decimal_Format)
                            }
                        </td>
                        <td class="text-end">@item.Sale.ToString(SD.Two_Decimal_Format)</td>
                        <td class="text-end">@item.Value.ToString(SD.Two_Decimal_Format)</td>
                    </tr>
                }
                <tr class="table-secondary fw-medium">
                    @{
                        string displayName;
                        switch (group.Key)
                        {
                            case "PET001":
                                displayName = "BIODIESEL";
                                break;
                            case "PET002":
                                displayName = "ECONOGAS";
                                break;
                            case "PET003":
                                displayName = "ENVIROGAS";
                                break;
                            default:
                                displayName = group.Key;
                                break;
                        }
                    }
                    <td colspan="3" class="text-center">Total for @displayName</td>
                    <td class="text-end">@group.Sum(d => d.Liters).ToString(SD.Two_Decimal_Format)</td>
                    <td class="text-end">@group.Sum(d => d.Calibration).ToString(SD.Two_Decimal_Format)</td>
                    <td class="text-end">@group.Sum(d => d.LitersSold).ToString(SD.Two_Decimal_Format)</td>
                    <td class="text-end">@group.Sum(d => d.TransactionCount)</td>
                    <td class="text-end"></td>
                    <td class="text-end">@group.Sum(d => d.Sale).ToString(SD.Two_Decimal_Format)</td>
                    <td class="text-end">@group.Sum(d => d.Value).ToString(SD.Two_Decimal_Format)</td>
                </tr>
            }
            <tr class="table-primary fw-semibold">
                <td colspan="3" class="text-center">Total</td>
                <td class="text-end">@Model.SalesDetails.Sum(d => d.Liters).ToString(SD.Two_Decimal_Format)</td>
                <td class="text-end">@Model.SalesDetails.Sum(d => d.Calibration).ToString(SD.Two_Decimal_Format)</td>
                <td class="text-end">@Model.SalesDetails.Sum(d => d.LitersSold).ToString(SD.Two_Decimal_Format)</td>
                <td class="text-end">@Model.SalesDetails.Sum(d => d.TransactionCount)</td>
                <td class="text-end"></td>
                <td class="text-end">@Model.SalesDetails.Sum(d => d.Sale).ToString(SD.Two_Decimal_Format)</td>
                <td class="text-end">@Model.SalesDetails.Sum(d => d.Value).ToString(SD.Two_Decimal_Format)</td>
            </tr>
        </tbody>
    </table>
</div>

<table class="table table-borderless">
    <thead>
        <tr class="table-primary">
            <th colspan="2" class="text-center">Summary</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="text-center">Fuel</td>
            <td class="text-end">@Model.FuelSalesTotalAmount.ToString(SD.Two_Decimal_Format)</td>
        </tr>
        <tr>
            <td class="text-center">Lubes</td>
            <td class="text-end">@Model.LubesTotalAmount.ToString(SD.Two_Decimal_Format)</td>
        </tr>
        @if (Model.POSalesTotalAmount > 0)
        {
            <tr>
                <td class="text-center">PO Sales</td>
                <td class="text-end">@Model.POSalesTotalAmount.ToString(SD.Two_Decimal_Format)</td>
            </tr>
        }
        <tr>
            <td class="text-center">Total Cash Sales</td>
            <td class="text-end" style="border-top: double">@Model.TotalSales.ToString(SD.Two_Decimal_Format)</td>
        </tr>
        @if (Model.ActualCashOnHand > 0)
        {
            <tr>
                <td class="text-center">Cash on Hand (Total Drops)</td>
                <td class="text-end">@Model.SafeDropTotalAmount.ToString(SD.Two_Decimal_Format)</td>
            </tr>
            <tr>
                <td class="text-center">Actual Cash on Hand (Audit)</td>
                <td class="text-end">@Model.ActualCashOnHand.ToString(SD.Two_Decimal_Format)</td>
            </tr>
        }
        else
        {
            <tr>
                <td class="text-center">Cash on Hand (Total Drops)</td>
                <td class="text-end">@Model.SafeDropTotalAmount.ToString(SD.Two_Decimal_Format)</td>
            </tr>
        }
        <tr>
            <td class="text-center">Over (Short) / Handling</td>
            <td class="text-end" style="border-top: double">@string.Format("{0:#,0.00;(#,0.00)}", Model.GainOrLoss)</td>
        </tr>
    </tbody>
</table>

<div class="row pt-2">
    @{
        if (Model.PostedBy == null)
        {
            <div class="col-6 col-md-3">
                <a id="approveButton" class="btn btn-primary form-control buttons">Approve</a>
            </div>
        }
        else
        {
            <div class="col-6 col-md-3">
                <a onclick="window.print()" class="btn btn-primary form-control buttons">Print</a>
            </div>
        }
    }

    <div class="col-6 col-md-3">
        <a asp-area="Mobility" asp-controller="CashierReport" asp-action="Index" class="btn btn-outline-primary border form-control buttons">Back to List</a>
    </div>
</div>

@section Scripts {
    <script>
        document.getElementById('approveButton').addEventListener('click', function () {
            Swal.fire({
                title: 'Are you sure?',
                text: "You won't be able to revert this!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, approve it!'
            }).then((result) => {
                if (result.isConfirmed) {
                    // Proceed to the controller action
                    window.location.href = '@Url.Action("Post", "CashierReport", new { area = "Mobility", id = Model.SalesNo })';
                }
            });
        });
    </script>
    <script>
        $(document).ready(function () {
            $('[data-bs-toggle="popover"]').popover();
        });
    </script>
    <script src="~/js/disable-dev-tools-in-print.js" asp-append-version="true"></script>
}