@using IBS.Models.Enums
@using IBS.Utility.Constants
@model MobilityPurchaseOrder

@{
    ViewData["Title"] = "Purchase Order - Preview";
}

<style>
    .page {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: #333;
        padding: 20px;
        margin: 20px auto;
        border: 1px solid #ddd;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        background-color: #fff;
    }

    .table {
        width: 100%;
        margin: 0 auto;
        border-collapse: collapse;
    }

    .table th, .table td {
        padding: 12px 15px;
        text-align: center;
        border: 1px solid #ddd;
    }

    .table-hover tbody tr:hover {
        background-color: #f1f1f1;
    }

    .table thead {
        background-color: #007bff;
        color: #fff;
    }

    .text-center {
        text-align: center;
    }

    h3 {
        font-size: 1.8rem;
        margin-bottom: 10px;
    }

    @@media (max-width: 768px) {

        .table th, .table td {
            font-size: 0.9rem;
            padding: 8px 10px;
        }

        h3 {
            font-size: 1.5rem;
        }

        .page-break {
            page-break-before: always;
        }
    }
</style>

<br />
<div class="text-end">
    <img src="~/img/usa88-logo.png" width="130px"/>
</div>
<div class="text-center">
    <h2><u><b>&nbsp;MOBILITY GROUP CORP.&nbsp;</b></u></h2>
    <p style="line-height: 1; margin-top:-7px;">
        Tower B Phoenix Sun Business Park Eulogio Rodriguez JR, ave.,<br /> 
        Bagumbayan Libis 1110 Quezon City NCR, Second District Philippines<br />
        VAT Reg. TIN: 776-536-510-00000
    </p>

    <h3><span style="display: inline-block;"><b>Purchase Order</b></span></h3>
    <div class="text-end" style="margin-top:-60px;">
        <h6><b>No.&nbsp;@Html.DisplayFor(model => model.PurchaseOrderNo)</b></h6>
    </div>
</div>

<div class="table-responsive" style="margin-top:50px;">
    <table class="w-100">
        <tbody>
        <tr style="padding-left:10px;">
            <td class="w-75">Supplier: &nbsp;@Html.DisplayFor(model => model.Supplier!.SupplierName)</td>
            <td class="w-25 text-end">Date: &nbsp;@Model.Date.ToString(SD.Date_Format)</td>
        </tr>
        <tr style="padding-left:10px;">
            <td>Address: &nbsp;@Html.DisplayFor(model => model.SupplierAddress)</td>
            <td></td>
        </tr>
        <tr style="padding-left:10px;">
            <td>TIN No.: &nbsp;@Html.DisplayFor(model => model.SupplierTin)</td>
            <td></td>
        </tr>
        </tbody>
    </table>
</div>

<div class="table-responsive" style="margin-top:50px;">
    <table class="w-100 text-center">
        <thead>
        <tr>
            <th class="w-25">Product Name</th>
            <th class="w-25">Quantity</th>
            <th class="w-25">Price</th>
            <th class="w-25">Amount</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td class="w-25">@Html.DisplayFor(model => model.Product!.ProductName)</td>
            <td class="w-25">@Model.Quantity.ToString(SD.Two_Decimal_Format)</td>
            <td class="w-25">@Model.UnitPrice.ToString(SD.Four_Decimal_Format)</td>
            <td class="w-25">@Model.Amount.ToString(SD.Two_Decimal_Format)</td>
        </tr>
        </tbody>
    </table>
</div>

<div class="table-responsive" style="margin-top:50px;">
    <table class="w-100">
        <thead>
        <tr>
            <th class="w-25">@Html.DisplayNameFor(model => model.Remarks)</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td class="w-25" colspan="4"><pre style="margin: 0; padding: 0">@Html.DisplayFor(model => model.Remarks)</pre></td>
        </tr>
        </tbody>
    </table>
</div>

<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />

@if (Model.Type == nameof(DocumentType.Documented))
{
    <div class="text-center w-100" style="margin-top:20px;">
        <p>
            <em><b>"THIS DOCUMENT IS NOT VALID FOR CLAIM OF INPUT TAX"</b></em><br /><br />
        </p>
    </div>

    @if (!Model.IsPrinted)
    {
        <div class="text-end footer" style="right:8%; bottom:9%;">
            ORIGINAL COPY
        </div>
    }
    else
    {
        <div class="text-end footer" style="right:8%; bottom:9%;">
            REPRINT COPY
        </div>
    }
}

<div class="row pt-2">
    @{
        if (Model.PostedBy == null)
        {
            <div class="col-6 col-md-3">
                <a class="btn btn-primary form-control buttons" onclick="confirmPost(@Model.PurchaseOrderId)">Post</a>
            </div>
        }
        else
        {
            <div class="col-6 col-md-3">
                <a asp-area="Mobility" asp-controller="PurchaseOrder" asp-action="Printed" asp-route-id="@Model.PurchaseOrderId" onclick="window.print()" class="btn btn-primary form-control buttons">Print</a>
            </div>
        }
    }

    <div class="col-6 col-md-3">
        <a asp-area="Mobility" asp-controller="PurchaseOrder" asp-action="Index" class="btn btn-outline-primary border form-control buttons">Back to List</a>
    </div>
</div>

@section Scripts {
    <script>
        var originalFontSizes = [];
        function printPage() {
            var printButton = document.getElementById("printButton");
            var otherButton = document.getElementById("otherButton");

            // Hide the header and footer
            document.querySelector("header").style.display = "none";

            // Hide the buttons before printing
            if (printButton) {
                printButton.style.visibility = "hidden";
            }
            if (otherButton) {
                otherButton.style.visibility = "hidden";
            }

            // Get all paragraph elements
            var paragraphs = document.querySelectorAll("p");

            // Store the original font sizes
            for (var i = 0; i < paragraphs.length; i++) {
                originalFontSizes[i] = paragraphs[i].style.fontSize;
                // Set the font size of all paragraph elements to 12px for printing
                paragraphs[i].style.fontSize = "12px";
            }

            // Get all table text elements
            var mytable = document.querySelectorAll("table");

            // Store the original font sizes
            for (var i = 0; i < mytable.length; i++) {
                originalFontSizes[i] = mytable[i].style.fontSize;
                // Set the font size of all paragraph elements to 12px for printing
                mytable[i].style.fontSize = "12px";
            }

            // Call the print function
            window.print();

            // Restore the font sizes
            for (var i = 0; i < paragraphs.length; i++) {
                paragraphs[i].style.fontSize = originalFontSizes[i];
            }

            // Restore the font sizes
            for (var i = 0; i < mytable.length; i++) {
                mytable[i].style.fontSize = originalFontSizes[i];
            }

            // Restore the buttons' visibility after printing (optional)
            if (printButton) {
                printButton.style.visibility = "visible";
            }
            if (otherButton) {
                otherButton.style.visibility = "visible";
            }

            // Restore the header and footer's visibility after printing (optional)
            document.querySelector("header").style.display = "";
        }
    </script>
    <script>
        function confirmPost(id) {
            Swal.fire({
                title: 'Are you sure?',
                text: "You won't be able to revert this!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes'
            }).then((result) => {
                if (result.isConfirmed) {
                    var url = `@Url.Action("Post", "PurchaseOrder", new { area = "Mobility" })/${id}`;
                    window.location.href = url;
                }
            })
        }
    </script>
    <script>
        function confirmApprove(id) {
            Swal.fire({
                title: 'Are you sure?',
                text: "You won't be able to revert this!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes'
            }).then((result) => {
                if (result.isConfirmed) {
                    $.ajax({
                        url: `@Url.Action("Approve", "PurchaseOrder", new { area = "Mobility" })`,
                        type: 'POST',
                        data: { id: id },
                        success: function (response) {
                            Swal.fire('Approved!', response.message, 'success').then(() => {
                                location.reload();
                            });
                        },
                        error: function(xhr) {
                            const errorMessage = xhr.responseJSON?.error || 'Something went wrong. Please try again.';
                            Swal.fire('Error!', errorMessage, 'error');
                        }
                    });
                }
            })
        }
    </script>

}